@model IEnumerable<DataTransferObject.DTOClasses.UserDTO>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h5>THIS IS TEST OF .NET CORE APPS</h5>
</div>